In [127]:
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline
url = "/Users/junguo/IdeaProjects/CS6650/Building-Scalable-Distributed-System/Assignment01"
names = ["nano", "method", "lnano", "code"]
df = pd.read_csv(url + "/statistics.csv", header=None, names=names)

In [128]:
df.head(10)

            nano method      lnano  code
0  9137444074667   POST  282211344   400
1  9137452733908   POST  275580399   400
2  9137443422414   POST  287178021   400
3  9137413098801   POST  322852465   400
4  9137411163210   POST  323977102   400
5  9137412022750   POST  322724471   400
6  9137410156820   POST  324201371   400
7  9137454292854   POST  279637599   400
8  9137424195883   POST  309282649   400
9  9137443066954   POST  289256903   400

In [129]:
df = df.sort_values("nano")

In [130]:
df.reset_index(drop = True)

               nano method      lnano  code
0     9137406138007   POST  347797450   400
1     9137406142394   POST  323622185   400
2     9137406367358   POST  347119795   400
3     9137406528693   POST  320592661   400
4     9137407876313   POST  322298002   400
...             ...    ...        ...   ...
9925  9140622599710   POST    5210564   400
9926  9140622884810   POST    6285973   400
9927  9140623211414   POST    5720280   400
9928  9140623275735   POST    5521080   400
9929  9140623568109   POST    5508214   400

[9930 rows x 4 columns]

In [131]:
start = df["nano"].min()

In [132]:
df["nano"] = (df["nano"] - start) / 1000000000

In [133]:
df["lnano"] = df["lnano"] / 1000000

In [134]:
df.reset_index(drop = True)

          nano method       lnano  code
0     0.000000   POST  347.797450   400
1     0.000004   POST  323.622185   400
2     0.000229   POST  347.119795   400
3     0.000391   POST  320.592661   400
4     0.001738   POST  322.298002   400
...        ...    ...         ...   ...
9925  3.216462   POST    5.210564   400
9926  3.216747   POST    6.285973   400
9927  3.217073   POST    5.720280   400
9928  3.217138   POST    5.521080   400
9929  3.217430   POST    5.508214   400

[9930 rows x 4 columns]

In [135]:
df1 = df[df["nano"] < 0.5]
df = df[df["nano"] >= 0.5]

In [136]:
df1

         nano method       lnano  code
33   0.000000   POST  347.797450   400
12   0.000004   POST  323.622185   400
39   0.000229   POST  347.119795   400
15   0.000391   POST  320.592661   400
19   0.001738   POST  322.298002   400
..        ...    ...         ...   ...
310  0.498468   POST    3.673335   400
317  0.498799   POST    6.167385   400
327  0.499385   POST    8.455095   400
321  0.499553   POST    6.430043   400
314  0.499908   POST    4.296540   400

[336 rows x 4 columns]

In [137]:
df2 = df[df["nano"] < 1]
df = df[df["nano"] >= 1]

In [138]:
df3 = df[df["nano"] < 1.5]
df = df[df["nano"] >= 1.5]

In [139]:
df4 = df[df["nano"] < 2]
df = df[df["nano"] >= 2]

In [140]:
df5 = df[df["nano"] < 2.5]
df = df[df["nano"] >= 2.5]

In [141]:
df6 = df[df["nano"] < 3]
df = df[df["nano"] >= 3]

In [142]:
df7 = df

In [143]:
df1["lnano"].mean()

35.85093476190474

In [144]:
df2["lnano"].mean()

11.516736657524081

In [145]:
df3["lnano"].mean()

10.126734978548896

In [146]:
df4["lnano"].mean()

8.707917609278924

In [147]:
df5["lnano"].mean()

8.340084559957736

In [148]:
df6["lnano"].mean()

7.995990266768289

In [149]:
df7["lnano"].mean()

6.7753095999999955

In [161]:
df1.index.size

336

In [162]:
df2.index.size

1349

In [163]:
df3.index.size

1585

In [164]:
df4.index.size

1789

In [165]:
df5.index.size

1893

In [166]:
df6.index.size

1968

In [167]:
df7.index.size

1010